<div class="root">
  <h2 *ngIf="userDetails" class="album-detail">
    {{ userDetails.name }}s albums ({{ userAlbums.length }})
  </h2>
  <div class="user-stat-container">
    Total Albums: {{ userAlbums.length }} Albums Added:
    {{ addedAlbumCount }} Albums Removed: {{ removedAlbumCount }}
  </div>
  <div class="album-add">
    <button mat-raised-button (click)="openNewImagePanel()" class="album-create-new-common">
      {{ addingNewAlbum ? "Close Panel" : "Create new album" }}
    </button>
    <div *ngIf="addingNewAlbum"></div>
  </div>
  <div *ngIf="addingNewAlbum" class="album-add-new">
    <form
      [formGroup]="albumForm"
      class="add-album-form"
      (ngSubmit)="handleAddNewAlbum()"
    >
      <label for="album-title" class="add-album-form-label"
        >Album Title:
      </label>
      <input
        id="album-title"
        class="add-album-form-input"
        type="text"
        formControlName="albumTitle"
      />
      <button mat-raised-button type="submit" [disabled]="!albumForm.valid" class="album-create-new-common">
        Create new Album
      </button>
    </form>
  </div>
  <div *ngIf="userAlbums" class="albums-root">
    <div *ngFor="let album of userAlbums" class="albums">
      <mat-card
        class="album-card"
        [routerLink]="['/user', userId, 'album', album.id, 'photos']"
        (click)="getAlbumPhotos(album.id)"
      >
        <img
          class="card-image"
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <div class="image-overlay">View Album</div>
        <div class="card-footer">
          <mat-card-header class="card-header">
            <mat-card-title class="album-title">{{
              album.title
            }}</mat-card-title>
            <button
              class="album-delete"
              mat-raised-button
              (click)="handleRemoveAlbum(album.id)"
            >
              Delete
            </button>
          </mat-card-header>
        </div>
      </mat-card>
    </div>
  </div>
</div>
